<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrace</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>

    <a href="http://localhost:8080/menu" class="btn btn-primary m-1" role="button">Zpět-menu</a>
    <h1>Registrace nového pojištěnce</h1>
<div class="registration-form"> <!-- This line was missing in the original code -->
    <form th:action="@{/register}" th:method="post" th:object="${insuredPerson_DTO}">
        <div class="registration-form">
            <div class="row m-auto">
                <div class="form-group col-2 offset-4">
                    <label id="firstName"><strong>Jméno:</strong></label>
                    <input type="text" th:field="*{firstName}" class="form-control" name="firstName"
                           placeholder="Petr" required>

                </div>
                <div class="form-group col-2">
                    <label id="lastName"><strong>Jméno:</strong></label>
                    <input type="text" th:field="*{lastName}" class="form-control" name="lastName"
                           placeholder="Novák" required>
                </div>
            </div>
            <div class="row m-auto">
                <div class="form-group col-2 offset-4">
                    <label id="birthDate"><strong>Datum narození:</strong></label>
                    <input type="date" th:field="*{birthDate}" class="form-control" name="birthDate"
                           required>

                </div>
                <div class="form-group col-2">
                    <label id="email"><strong>Email</strong></label>
                    <input type="email" th:field="*{email}" class="form-control" name="email"
                           placeholder="petr.novak@gmail.com"
                           required>

                </div>
            </div>
            <div class="row m-auto">
                <div class="form-group col-1 offset-4">
                   <label id="phonePreselection"><strong>Předvolba:</strong></label>
                    <select th:field="*{phonePreselection}" class="form-control" name="phonePreselection" required>
                        <option th:value="'+420'">+420</option>
                        <option th:value="'+421'">+421</option>
                        <option th:value="'+422'">+422</option>
                        <option th:value="'+423'">+423</option>
                    </select>

                </div>

                <div class="form-group col-2 offset-1">
                    <label id="phoneNumber"><strong>Telefonní číslo:</strong></label>
                    <input type="text" th:field="*{phoneNumber}" class="form-control" name="phoneNumber"
                           placeholder="111222333" required>

                </div>
            </div>
            <div class="row m-auto">
                <div class="form-group col-2 offset-4">
                    <label id="country"><strong>Země:</strong></label>
                    <select th:field="*{country}" class="form-control" name="country" required>
                        <option th:value="Česko">Česko</option>
                        <option th:value="Slovensko">Slovensko</option>
                        <option th:value="Německo">Německo</option>
                        <option th:value="Polsko">Polsko</option>
                    </select>
                </div>

                <div class="form-group col-2">
                    <label id="city"><strong>Město/Obec:</strong></label>
                    <input type="text" th:field="*{city}" class="form-control" name="city"
                           placeholder="Praha/Brno/..." required>
                </div>
                </div>
            <div class="row m-auto">
                <div class="form-group col-2 offset-4">
                    <label id="street"><strong>Ulice:</strong></label>
                    <input type="text" th:field="*{street}" class="form-control" name="street"
                           placeholder="Vodičkova" required>
                </div>
                <div class="form-group col-2">
                    <label id="postCode"><strong>PSČ:</strong></label>
                    <input type="number" th:field="*{postCode}" class="form-control" name="postCode"
                           placeholder="26043" required>
                </div>
                </div>
            <div class="row m-auto">
            <div class="form-group col-2 offset-4">
                <label id="describtionNumber"><strong>č.p.:</strong></label>
                <input type="number" th:field="*{describtionNnumber}" class="form-control" name="describtionNumber"
                       placeholder="1594" required>
            </div>
                <div class="form-group col-2">
                    <label id="orientationNumber"><strong>č.o.:</strong></label>
                    <input type="number" th:field="*{orientationNumber}" class="form-control" name="orientationNumber"
                           placeholder="33" required>
                </div>
            </div>
            <div class="action-buttons">
                <input class="btn btn-primary offset-5 btn-sm" type="submit" value="Submit">
                <input class="btn btn-primary offset-1 btn-sm" type="reset" value="Reset">
            </div>

    </form>
    </div>
</body>
</html>