<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <link th:href="@{/tab-insured.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<a href="http://localhost:8080/menu" class="btn btn-primary m-2" role="button">Zpět-menu</a>
<h1>SEZNAM POJIŠTĚNCŮ</h1>
<form action="@{manager/filter}" th:action="@{manager/filter}" method="post">
    <div class="row">
        <input class="btn btn-primary col-1 offset-8" type="submit" value="Vyhledat">
        <a href="http://localhost:8080/manager/register" class="btn btn-primary" role="button">+ Nový</a>


    </div>

    <table class="table table-striped table-hover table-bordered table-sm">
        <thead class="bg-dark text-white">
        <tr>
            <th>
                <input type="text" id="filterInsuredID" name="filterInsuredID" class="form-control" placeholder="ID"/>
            </th>
            <th>
                <input type="text" id="filterFirstName" name="filterFirstName" class="form-control"
                       placeholder="Jméno"/>
            </th>
            <th>
                <input type="text" id="filterLastName" name="filterLastName" class="form-control"
                       placeholder="Příjmení"/>
            </th>
            <th>
                <input type="date" id="filterBirthDate" name="filterBirthDate" class="form-control"/>
            </th>
            <th>
                <select id="filterPhonePreselection" name="filterPhonePreselection" class="form-control">
                    <option value="+420">+420</option>
                    <option value="+421">+421</option>
                    <option value="+422">+422</option>
                    <option value="+423">+423</option>
                </select>
            </th>
            <th>
                <input type="text" id="filterPhoneNumber" name="filterPhoneNumber" class="form-control"
                       placeholder="Telefonní číslo"/>
            </th>
            <th>
                <input type="text" id="filterEmail" name="filterEmail" class="form-control" placeholder="email"/>
            </th>
            <th>
                <input type="text" id="filterCountry" name="filterCountry" class="form-control" placeholder="Země"/>
            </th>
            <th>
                <input type="text" id="filterStreet" name="filterStreet" class="form-control" placeholder="Ulice"/>
            </th>
            <th>
                <input type="text" id="filterDescriptionNumber" name="filterDescriptionNumber" class="form-control"
                       placeholder="č.p."/>
            </th>
            <th>
                <input type="text" id="filterOrientationNumber" name="filterOrientationNumber" class="form-control"
                       placeholder="o.č."/>
            </th>
            <th>
                <input type="text" id="filterPostCode" name="filterPostCode" class="form-control" placeholder="PSČ"/>
            </th>
            <th>
                <input type="text" id="filterCity" name="filterCity" class="form-control" placeholder="Město"/>
            </th>

        </tr>
        <tr>
            <th>ID</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Datum narození</th>
            <th>Telefonní předvolba</th>
            <th>Telefonní číslo</th>
            <th>Email</th>
            <th>Země</th>
            <th>Ulice</th>
            <th>č.p.</th>
            <th>o.č.</th>
            <th>PSČ</th>
            <th>Město</th>
        </tr>
        </thead>
        <tr th:each="insuredPerson_DTO : ${all}">
            <td th:text="${insuredPerson_DTO.insuredId}"></td>
            <td th:text="${insuredPerson_DTO.firstName}"></td>
            <td th:text="${insuredPerson_DTO.lastName}"></td>
            <td th:text="${insuredPerson_DTO.birthDate}"></td>
            <td th:text="${insuredPerson_DTO.phonePreselection}"></td>
            <td th:text="${insuredPerson_DTO.phoneNumber}"></td>
            <td th:text="${insuredPerson_DTO.email}"></td>
            <td th:text="${insuredPerson_DTO.country}"></td>
            <td th:text="${insuredPerson_DTO.street}"></td>
            <td th:text="${insuredPerson_DTO.descriptionNumber}"></td>
            <td th:text="${insuredPerson_DTO.orientationNumber}"></td>
            <td th:text="${insuredPerson_DTO.postCode}"></td>
            <td th:text="${insuredPerson_DTO.city}"></td>
        </tr>
    </table>
</form>
</body>
</html>