<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <link th:href="@{/tab-insured.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<a href="http://localhost:8080/menu" class="btn btn-primary m-2" role="button">Zpět-menu</a>
<h1>SEZNAM POJIŠTĚNCŮ</h1>
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead class="bg-dark text-white">
        <tr>
            <th>Id</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Datum narození</th>
            <th>Telefonní číslo</th>
            <th>Telefonní předvolba</th>
            <th>Email</th>
            <th>Země</th>
            <th>Ulice</th>
            <th>Město</th>
            <th>PSČ</th>
            <th>Číslo popisné</th>
            <th>Číslo orientační</th>
        </tr>
        </thead>
        <tr th:each="insuredPersonDTO : ${insureds}">
            <td th:text="${insuredPersonDTO.insuredID}"></td>
            <td th:text="${insuredPersonDTO.firstName}"></td>
            <td th:text="${insuredPersonDTO.lastName}"></td>
            <td th:text="${insuredPersonDTO.birthDate}"></td>
            <td th:text="${insuredPersonDTO.phoneNumber}"></td>
            <td th:text="${insuredPersonDTO.phonePreselection}"></td>
            <td th:text="${insuredPersonDTO.email}"></td>
            <td th:text="${insuredPersonDTO.country}"></td>
            <td th:text="${insuredPersonDTO.street}"></td>
            <td th:text="${insuredPersonDTO.city}"></td>
            <td th:text="${insuredPersonDTO.postCode}"></td>
            <td th:text="${insuredPersonDTO.descriptionNumber}"></td>
            <td th:text="${insuredPersonDTO.orientationNumber}"></td>
        </tr>
    </table>
</body>
</html>