<!DOCTYPE html>
<html lang="cs-cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <link th:href="@{/tab-insured.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<a href="http://localhost:8080/menu" class="btn btn-primary m-2" role="button">Zpět-menu</a>

<h1>SEZNAM POJIŠTĚNCŮ</h1>
<div class="row">
    <input class="btn btn-primary col-1 offset-8" type="submit" value="Vyhledat">
    <a href="http://localhost:8080/add" class="btn btn-primary" role="button">+ Nový</a>
   <button type="button" class="btn btn-primary col-1">Pojištěných: <strong th:text="${insuredPeople.size}"></strong></button>
</div>
    <table class="table table-striped table-hover table-bordered table-sm">
    <thead class="bg-dark text-white">
   <!-- <tr>
        <form action="/filter" method="post">
        <td><input type="text" th:field="*{listOfInsured_DTO.searchName}" class="form-control" id="searchName"></td>
        <td><input type="text" th:field="*{listOfInsured_DTO.searchSurname}" class="form-control" id="serachSurname"></td>
        <td><input type="date" th:field="*{listOfInsured_DTO.searchBirthDate}" class="form-control" id="searchDateBirth"></td>
        <td><input type="email" th:field="*{listOfInsured_DTO.searchEmail}" class="form-control" id="searchEmail"></td>
        <td><input type="text" th:field="*{listOfInsured_DTO.searchPhoneNumber}" class="form-control" id="searchPhoneNumber"></td>
        </form>
    </tr> -->
    <tr>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Datum narození</th>
        <th>Email</th>
        <th>Telefonní číslo</th>
    </tr>
    </thead>
  <tr th:each="insuredPerson_DTO : ${listOfFiltredInsured}">
        <td th:text="${insuredPerson_DTO.name}"></td>
        <td th:text="${insuredPerson_DTO.surname}"></td>
        <td th:text="${insuredPerson_DTO.birthDate}"></td>
        <td th:text="${insuredPerson_DTO.email}"></td>
        <td th:text="${insuredPerson_DTO.phoneNumber}"></td>
    </tr>
</table>
</body>
</html>